body {
    background-color: #25262C;
}
#container {
    margin-top: 2rem;
}
#top-bar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.7rem;
    border-bottom: 1px solid #C563DE;
    background-color: #25262C;
    padding-top: 0.3rem;
    z-index: 99;
    display: flex;
}

#top-bar a {
    margin-top:0.3rem;
    flex:1;
    display: inline;

}
#top-bar :nth-child(2) {
    flex:2;
}
#top-bar #username {
    /* background-color: #C563DE; */
    color: #FEF3E2;
    flex:1;
    text-align: right;
    margin-right: 1.3rem;
}

#btm-bar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #25262C;
    display:flex;
    padding: 0.3rem;
    z-index: 99;
}
#btm-bar button {
    flex:2;
    margin-right: 1.5rem;
}
#btm-bar div {
    flex:5;
}

button {
    height: 1.5rem;
    color: #C563DE;
    background-color: #FEF3E2;
    border-radius: 8px;
    /* font-size: large; */
}

#postsContainer {
max-width: 600px;
margin: 20px auto;
/* background-color: red; */
}

.postBox {
border-bottom: 1px solid #C563DE;
/* margin-bottom: 20px; */
padding: 0.7rem;
}

.postBox img {
width: 100%;
}

/* header */
.headerPost {
    margin-bottom: 0.5rem;
}

.poser {
    color: #FEF3E2;
    font-weight: bold;
    display: inline;
    margin-left: 0.5rem;
}
.time {
    color: #FEF3E2;
    display: inline;
    font-size: small;
    margin-left: 1rem;
    opacity: 70%;
}

/* interact */
.interractSection {
    margin-top:0.3rem ;
    margin-bottom: 0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.likes {
    display: inline;
    color: #FEF3E2;
    /* flex:1; */
}
.interractSection button {
    display:inline;
    margin:0.3rem;
    /* flex:1; */

}
.interractSection input {
    width: auto;
    flex:1;
}

/* comment */
.commentSection{
    background-color: rgba(197, 99, 222, 50%);
    border-radius: 5px;
    padding: 0.3rem;
}

.singleComment div{
    display: inline;
    color: #FEF3E2;

}
.singleComment :nth-child(2){
    margin-left: 0.5rem;
    opacity: 70%;
    color: #FEF3E2;
    
}

input {
    height: 20px;
    width: 3rem;
    color: black;
    background-color: #FEF3E2;
    border-radius: 8px;
}